@import "../../styles/variables";

.Navbar {
  &__container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 0;
    padding:0 0 0 0;
    @media (min-width: $laptopMin) {
      width: 75%;
    }
    &__burger {
      width: 71px;
      height: 54px;
      border: none;
      border-radius: 4px;
      background-color: white;
      font-family: $PNSemi;
      font-size: 1em;
      color: $mid-blue;
      margin: 10px 0 0 0;
      padding: 5px 7px 6px 21px;
      cursor: pointer;
      position: relative;
      @media (min-width: $laptopMin) {
        display: none;
      }
      &__icon {
        margin: 0 10px 0 0;
      }
    }
  }
  &__proper {
    background-color: white;
    @media (min-width: $laptopMin) {
      background-color: transparent;
      width: 100%;
    }
    @media (max-width: $tabletMax) {
      display: none;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      @media (min-width: $laptopMin) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
      &__options {
        list-style: none;
        color: $footer-blue;
        font-family: $PNRegular;
        font-weight: bold;
        font-size: 1rem;
        p {
          color: $footer-blue;
          font-family: $PNRegular;
          font-weight: bold;
          font-size: 1rem;
          &:hover {
            color: $orange;
          }
        }
        a {
          color: $footer-blue;
          font-family: $PNRegular;
          font-weight: bold;
          font-size: 1rem;

        }
        &__a {
          width: max-content;
          display: flex;
          align-items: center;
          padding: 0;
          margin: 5px 0;
          cursor: pointer;
          @media (min-width: $laptopMin) {
            margin: 0;
          }
          &:hover {
            color: $orange;
          }
        }
        &__serviceContainer {
          display: flex;
          flex-direction: column;
        }
        &__aboutContainer{
          @media (max-width: $laptopMin) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
        &__home {
          &:hover {
            color: $orange;
          }
        }
        &__services {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          align-self: flex-start;
          flex-wrap: nowrap;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          font-size: inherit;
          cursor: pointer;
          &::after{
            content: url("../../public/assets/navbarIcons/arrow-down.png");
            background-size: 100% 100%;
            margin: 0 0 0 12px;
          }
          &__list {
            flex-direction: column;
            margin: 0 0 0 50px;
            @media (min-width: $laptopMin) {
              position: absolute;
              top: 25px;
              background: #FFFFFF;
              box-shadow: 0px 97px 39px rgba(0, 0, 0, 0.01), 0px 55px 33px rgba(0, 0, 0, 0.05), 0px 24px 24px rgba(0, 0, 0, 0.09), 0px 6px 13px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
              padding: 17px 0px;
              display: flex;
              align-items: center;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: center;
              justify-content: center;
              color: $light-blue;
            }
            @media (max-width: $laptopMin){
              margin: 0 0 0 12px;
            }
          }
        }
        &__about {
          &::after{
            content: url("../../public/assets/navbarIcons/arrow-down.png");
            background-size: 100% 100%;
            margin: 0 0 0 12px;
          }
          margin: 0 0 0 0;
          &__list{
            @media (min-width: $laptopMin) {
              position: absolute;
              top: 25px;
              background: #FFFFFF;
              box-shadow: 0px 97px 39px rgba(0, 0, 0, 0.01), 0px 55px 33px rgba(0, 0, 0, 0.05), 0px 24px 24px rgba(0, 0, 0, 0.09), 0px 6px 13px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
              padding: 17px 0px;
              display: flex;
              align-items: center;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: center;
              justify-content: center;
              color: $light-blue;
            }
          }
        }
      }
    }
  }
  &__services {
    width: 100%;
    list-style: none;
    margin: 0px 0px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    &:hover {
      background-color: $header-blue;
    }
    a:hover {
      color: white;
    }
  }
  &__about {
    width: 100%;
    list-style: none;
    margin: 0px 0px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    &:hover {
      background-color: $header-blue;
    }
    a:hover {
      color: white;
    }
    &__list{
      margin: 0 0 0 12px;
    }
  }
  &__properMobile{
    border-radius: 0 15px 15px 0;
    position: absolute;
    background-color: white;
    height: 50vh;
    overflow: scroll;
    margin: 0 0 0 0;
    top: 65px;
    width: 100vw;
    padding: 5px 15px;
    .Navbar__proper__list{
      align-items: center;
      justify-content: space-around;
      height: inherit;
    }
  }
}
