@import "../../styles/variables";

.Hero {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 35px 2rem;
    margin: 0 0 0px 0;
    //Animation CSS
    animation: containers-load 900ms ease-in;
    @media (min-width: $tabletMin) {
      font-size: 4rem;
      justify-content: space-between;
      padding: 0 11rem 35px 11rem;
    }
  }
  &__main{
    position: relative;
    display: flex;
    flex-direction: column;
    @media (min-width: $tabletMin) {
      height: 57vh;
      flex-wrap: wrap;
    }
  }
  &__secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    @media (min-width: $tabletMin) {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 34px 0 30px 0;
    @media (min-width: $tabletMin) {
      padding: 0;
      width: 50%;
    }
    &__title {
      span{
        color: $footer-blue;
      }
    }
    &__subtitle {
      color: black;
      font-size: 1.5rem;
      line-height: 1em;
      margin: 0 0 1rem 0;
    }
    &__text {
      color: black;
      font-size: 1rem;
      @media (min-width: $tabletMin){
        width: 350px;
        margin: 0 0 0 32px;
        padding: 0 0 0 0;
      }
    }
    &__btn {
      margin: 20px 0 10px 0;
      padding: 2px 13px;
      width: fit-content;
      border: none;
      border-radius: 4px;
      background-color: $green-btn;
      color: white;
      font-family: $PNRegular;
      font-weight: bold;
      font-size: 1.3rem;
      cursor: pointer;
      align-self: center;
      @media (min-width: $tabletMin){
        margin: 0 30px 0 0;
      }
    }
  }
  &__video {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: $tabletMin) {
      position: absolute;
      padding: 0;
      width: 44%;
      top: 15%;
      right: 0;
    }
    &__proper {
      position: relative;
      width: 100%;
      min-width: 228px;
      min-height: 128px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &__player {
        min-width: 228px;
        min-height: 174px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
        border: solid red 1px;
        .react-player__preview {
          /* width: 100%;
          background-image: url("/PlaceholderHomeVideo.png"); */
          /* border: solid blue 2px; */
        }
      }
    }
    &__controller {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: 10px 0 0 0;
      cursor: pointer;
      &__btn {
        font-family: $PNRegular;
        font-size: 1rem;
        color: $footer-blue;
        background-color: transparent;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border: none;
        padding: 0 0 0 0;
        cursor: pointer;
        &::before{
          content: url("../../public/assets/componentIcons/playBtn.png");
          margin: 5px 10px 0 0;
        }
      }
    }
  }
}

//Animation CSS
@keyframes containers-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
