@import "../../styles/variables";

.LoginForm{
    &__container{
        background-color: rgba(4, 150, 255, 0.49);;
        padding: 20px 15px;
        margin: 0;
    }
    &__content{
        background-color: white;
        padding: 28px 16px 16px 16px;
        margin: 0;
        display: flex;
        flex-direction: column;
        h3{
            padding: 0;
            margin: 0;
        }
    }
}
