//Colors
$footer-blue: #0094FF;
$light-blue: #5c92c5;
$dark-blue: #292C57;
$header-blue: #1E6894;
$subheader-blue: #1A3D68;
$green-btn: #57DAB2;
$divider: #2D3AE8;

$mid-blue: #193d67;
$green: #5fbe09;
$orange: #ff7100;

//!--Start Fonts--!
@font-face {
  font-family: 'Proxima NovaT Thin';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Thin_1.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
$PNThin: "Proxima NovaT Thin";

@font-face {
  font-family: 'Proxima NovaC Thin';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Condensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
$PNCThin: "Proxima NovaC Thin";

@font-face {
  font-family: 'Proxima Nova Thin Italics';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
$PNThinIt: "Proxima Nova Thin Italics";

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaFontFamily/ProximaNova-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$PNRegular: "Proxima Nova";

@font-face {
  font-family: 'Proxima Nova Semi It';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Semibold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
$PNSemi: "Proxima Nova Semi It";

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Black It';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
$PNBlackIt: "Proxima Nova Black It";

@font-face {
  font-family: 'Proxima Nova Cond Lt';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
$PNCondLt: "Proxima Nova Cond Lt";

@font-face {
  font-family: 'Proxima Nova Cond Bold';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
$PNCondBld: "Proxima Nova Cond Bold";

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Alt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$PNAlt: "Proxima Nova Alt";

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Alt-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Alt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Black Italic';
  src: url('/assets/fonts/ProximaNovaFontFamily/Proxima-Nova-Alt-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
$PNABLI: 'Proxima Nova Black Italic';

//!--End fonts--!

//Media Queries - Responsive
//Mobile
$mobileMin: 319px;
$mobileMax: 600px;
$mobile: "(min-width: 319px) and (max-width: 600px)";

//Tablet
$tabletMin: 601px;
$tabletMax: 1023px;
$tablet: "(min-width: 601px) and (max-width: 1023px)";

//Laptop
$laptopMin: 1024px;
$laptopMax: 2559px;
$laptop: "(min-width: 1024px)";
