@import "./variables";

//!--Start Fonts--!
@font-face {
  font-family: 'Proxima NovaT Thin';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
$PNTThin: "Proxima NovaT Thin";

@font-face {
  font-family: 'Proxima NovaC Thin';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaCond-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
$PNCThin: "Proxima NovaC Thin";

@font-face {
  font-family: 'Proxima Nova Thin Italics';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
$PNThinIt: "Proxima Nova Thin Italics";

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$PNRegular: "Proxima Nova";

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Cond Lt';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaCond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
$PNCondLt: "Proxima Nova Cond Lt";

@font-face {
  font-family: 'Proxima Nova Cond Bold';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
$PNCondBld: "Proxima Nova Cond Bold";

@font-face {
  font-family: 'Proxima Nova A-BoldIt';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaA-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
$PNA: "Proxima Nova A";

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaFontFamily/ProximaNovaA-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

//!--End fonts--!
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
